[user]
	name = Your Name
	email = your@email.example
[init]
	defaultBranch = main
[core]
	autocrlf = input
[pull]
	rebase = true

[includeIf "gitdir:~/home-baseline-tmp/"]
	path = ~/.gitconfig.d/home-baseline.inc
